.row {
  height: 560px;
}

.header {
  width: 100vw;
  min-height: 480px;

  background: url("/images/banner.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 10% 50%;

  @media (min-width: 1024px) {
    background-position: 40% 85%;

    min-height: 60vh;
  }
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}
