.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  min-width: 100vw;
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-height: 80vh;
  width: 100%;
}
