.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  height: 120px;
  width: 100vw;
  z-index: 9;
  padding: 0;

  border-bottom: 1px solid #c1c1c1;
  background-color: transparent;
}

.linkWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;

  margin: 0;
  padding: 0;
}

.loginWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 80%;
  margin-right: 32px;
  padding: 0 52px;

  border: 0px solid #ccc;
  border-radius: 12px;
  background-color: rgba(194, 194, 194, 0.2);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.text {
  line-height: 0;
  margin: 18px 0;

  color: #fff;
  font-weight: 500;
  font-size: 15px;
}
