.row {
  height: 660px;
}

.header {
  width: 100vw;
  min-height: 480px;

  background: url("/images/banner.png");
  background-color: transparent;
  background-repeat: no-repeat;
  background-size: 56%;
  background-position: 10% 50%;

  @media (min-width: 1024px) {
    background-position: 40% 85%;

    min-height: 60vh;
  }
}

.innerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: 100%;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 340px;

  border: 1px solid #ccc !important;
  background: transparent !important;
}

.mainTitle {
  margin-top: 32px;
  color: #fff !important;
}

.surveyTitle {
  margin-top: 32px;
  color: #fff !important;
}
